body {
    margin: 0;
    padding: 0;
}

.box {
    padding: 50px;
}

.footer {
    padding: 60px 0;
    background-color: #BDED35;
}

.footer__title {
    margin: 0;
    text-align: center;
    font-size: 24px;
}