body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.box {
    padding: 50px;
}

.footer {
    padding: 60px 0;
    background-color: #77a200;
}

.footer__title {
    margin: 0;
    text-align: center;
}

h1 {
    max-width: 769px;
    font-size: 64px;
}